$dark-grey: #222831;
$light-grey: #eeeeee;
$aqua: #00adb5;

.form-container {
  height: 79vh;
}

.submit-button {
  background-color: $aqua;
  color: $dark-grey;
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 50vw;
  width: 60%;
  margin: 5% auto;
  border-radius: 40px 0 40px 0;
  border: 2px solid $aqua;
}

.submit {
  background: $aqua;
}

textarea {
  width: 35vw;
  height: 10vw;
  margin: 2vw;
  font-size: 1vw;
  border-radius: 20px;
  padding: 1vw;
  border: none;
}

textarea[name='bio'] {
  width: 50%;
}

input {
  width: 50%;
  height: 3vw;
  margin: 2vw;
  font-size: 1vw;
  border-radius: 20px;
  padding: 1vw;
  border: none;
}

textarea:focus,
input:focus {
  outline: 0;
}

span {
  padding: 1vw;
}

a {
  color: $aqua;
  margin: 1vw;
}
