$dark-grey: #222831;
$light-grey: #eeeeee;
$aqua: #00adb5;

//  <div className="messagesArea">
//             <h2>{conversation.title}</h2>
//             <ul>{orderedMessages(conversation.messages)}</ul>
//             <NewMessageForm conversation_id={conversation.id} />
//           </div>

.messages-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  // max-width: 80%;
  height: 85vh;
  // max-height: 80%;
  margin: 1vw auto;

  border-radius: 50px;
  padding: 1vw 2vw;
  h2 {
    font-size: 3ch;
    width: 100%;
    text-align: center;
  }

  ul {
    overflow: scroll;
    height: 80%;
    // max-height: 60%;
    width: 100%;

    border-radius: 20px;
    background: $light-grey;
    color: $dark-grey;
    padding: 3vw;
    margin: 0;
    list-style: none;
    li {
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin: 2vw 0;
      padding: 1vw 0;
      background: $aqua;
      border-radius: 15px 15px 15px 0;
      p {
        margin: 0.2vw 3vw;
      }
      .username {
        font-weight: bold;
        // font-size: 0.7vw;
        font-size: 2ch;
      }
      .message-content {
        font-size: 2ch;
      }
      .message-time {
        font-size: 1ch;
      }
    }
  }
  a {
    font-size: 1.5vw;
    text-align: center;
  }
  .newMessageForm {
    height: fit-content;
    margin: 0;
    width: 98%;
    form {
      height: fit-content;
      margin: 0;
      width: 100%;
      border: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .conv-title {
        width: 85%;
      }
      .new-message {
        width: 100%;
        height: 3vw;
        margin: 0;
        border-radius: 20px;
        background: $light-grey;
        color: $dark-grey;
        font-size: 1vw;
        padding-left: 3vw;
      }
      input {
        padding: 0.5vw;
        margin: 1vw;
        width: 8vw;
        height: 3.5vw;
        border-radius: 10px;
        font-size: 1vw;
        background: $aqua;
        color: $light-grey;
      }
    }
  }
}
