$dark-grey: #222831;
$light-grey: #eeeeee;
$aqua: #00adb5;

.SocialMediaShareButton,
.SocialMediaShareButton--twitter {
  height: fit-content;
  width: fit-content;
}

.show-post-container {
  max-width: 100%;
  max-height: 100%;
  padding: 5vw 10vw;
}

.show-post-title {
  max-width: 100%;
  text-align: center;
  padding: 2vw;
  font-size: 4vw;
  border-bottom: 0.2vw solid $aqua;
}

.show-post-content {
  padding: 1vw 0;
  max-width: 100%;
  line-height: 1.5;
  text-align: justify;
  li {
    padding: 1vw 0;
    font-size: 1.5vw;
  }
  a {
    color: $aqua;
  }
}

.date-p {
  color: $aqua;
  font-size: 1.5vw;
  text-align: center;
  padding: 1vw;
}
// .date-sm-div {
//   display: flex;
//   justify-content: space-evenly;
//   width: 65%;
//   margin: auto;
//   padding: 5vw;

//   div {
//     transition: 0.7s;
//   }
//   div:hover {
//     cursor: pointer;
//     transform: scale(1.1);
//   }

//   .heart-icon {
//     width: 3vw;
//     height: 3vw;
//     padding: 1vw;
//     border: 1px solid $aqua;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transition: 0.6s;
//     &:hover {
//       transform: scale(1.1);
//       cursor: pointer;
//     }
//     img {
//       max-width: 100%;
//       max-height: 100%;
//     }
//   }
//   .delete-post-button {
//     width: 10vw;
//     text-align: center;
//     background-color: $aqua;
//     color: $dark-grey;
//     border: none;
//     border-radius: 30px;
//     padding: 1.5vw;
//     font-size: 1.5vw;
//     // margin-bottom: 15vw;
//     transition: 0.4s;
//     &:hover {
//       background-color: red;
//       color: white;
//       cursor: pointer;
//     }
//   }
// }

// .show-post-ui {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   .likes-div {
//     width: 10%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .like-icon {
//     width: 40%;
//     transition: 0.7s;

//     &:hover {
//       transform: scale(1.1);
//     }
//   }
// }
